node_modules/
.vscode
typechain/
.tmp-addresses*.json
**/.DS_Store

#Hardhat files
cache
artifacts
scripts/deploy-hardhat.json
scripts/deploy-localhost.json
scripts/deploy-*.json
package-lock.json
env.json
./env.json